#feature-title{
    font-size: 5vh;
    text-align: center;
    font-weight: lighter;
}

#feature-description {
    font-size: 2vh;
    text-align: center;
    font-weight: lighter;
}
.feature-banner{
  height: 400px;
}
.feature-banner-img{
  height: 100%;
}
