#footer-link-title{
    color: white;
}


#footer-item-text {
  
}
#footer-item-img{
  /* height: 100%; */
}


@media (max-width: 960px) {
  #footer-link-title {
    font-size: 3vh;
  }
  #footer-link-description {
    font-size: 2.5vh;
  }
}

@media (max-width: 600px) {
  #footer-link-title {
    font-size: 2vh;
  }
  #footer-link-description {
    font-size: 1.5vh;
  }
}