.landing-item {
  margin-top: 3pc;
}

#landing-item-img{
  margin-top: 30px;
}

#landing-item-text{
  font-weight: lighter;
  font-size: 2.5vh;
  width: 80%;
  margin-top: -1pc;
}
#landing-item-title{
  font-size: 3vh;
  font-weight:normal;
}
