#more-title{
    font-size: 5vh;
    text-align: center;
    font-weight: lighter;
}

#more-description {
    font-size: 2vh;
    text-align: center;
    font-weight: lighter;
}

#more-pasta {
    font-weight: bold;
    text-align: center;
}
