.module-more {
    background: #5E6977;
    padding-top: 300px;
    padding-bottom: 100px;
    color:#ACB1B8;
}

#more-title{
    font-size: 6vh;
    text-align: center;
    font-weight: lighter;
    color: white;
}

.more-description-text {
    font-size: 2.7vh;
    text-align: center;
    font-weight: lighter;
}

#more-description-2 {
    margin-top: -1pc;
}

#more-pasta {
    font-weight: bold;
    text-align: center;
    padding-top: 3pc;
}

#more-companies{
    padding-top: 1pc;
}

#try-button-content{
 padding-top: 2pc;
} 

#try-button {   
    color: white !important;
    text-transform: capitalize !important;
    background: #7DC855 !important;
    font-size: 2vh;
    padding: 1.2pc;
}