.pricing-section{
    background: #F9F9F9;
}

.pricing-title {
    font-size: 6vh;
    text-align: center;
    font-weight: lighter;
    margin-top: 100px;
}

.pricing-description-text {
    font-size: 2.7vh;
    text-align: center;
    font-weight: lighter;
    color: #ACB1B8;
}

.pricing-feature-text {
    color: black;
    font-size: 1.5pc;
}

.pricing-feature-text-disabled {
    color: #D9DEE2;
    font-size: 1.5pc;
}

.pricing-description-2 {
    margin-top: -1pc;
}

.pricing-feature-title{
    text-align: center;
    font-size: 2pc;
    color: #3C92D8;
    font-weight: bold;
}

.pricing-feature-description {
    text-align: center;
    font-size: 1.5pc;
    font-weight: lighter;
    color: #ACB1B8;
}

.pricing-value {
    font-size: 5vh;
    text-align: center;
    font-weight: lighter;
}

.pricing-icon {
    color: #7DC855;
}

.pricing-value-u {
    text-align: center;
    font-weight: lighter;
    margin-top: -3pc;
}

.pricing-value-description {
    text-align: center;
    font-weight: lighter;
    font-size: 1.5pc;
    color: #ACB1B8;
}

.pricing-papers{
    position: relative;
    top: 10pc;
}

.pricing-button-container {
    padding-top: 3pc;
    padding-bottom: 2pc;
}

.pricing-button {
    background: white !important;
    color: #3C92D8 !important;
    font-weight: bold !important;
}

.pricing-papers:hover{
    background: #3C92D8;
}

.pricing-papers:hover .pricing-feature-title {
    color: white;
}

.pricing-papers:hover .pricing-feature-description {
    color: white;
}

.pricing-papers:hover .pricing-value {
    color: white;
}

.pricing-papers:hover .pricing-value-u {
    color: white;
}

.pricing-papers:hover .pricing-value {
    color: white;
}

.pricing-papers:hover .pricing-feature-text {
    color: white;
}

.pricing-papers:hover .pricing-feature-text-disabled {
    color: #ACB1B8;
}

.pricing-papers:hover .pricing-value-description {
    color: white;
}

.pricing-papers:hover .pricing-button {
    background: #7DC855 !important;
    color:white !important;
    font-weight: bold !important;
}

@media (max-width: 960px) {
    .pricing-feature-title {
        font-size: 3vh;
    }

    .pricing-feature-description {
        font-size: 1.5vh;
    }
    
    .pricing-value-u{
        font-size: 1.5vh;
    }

    .pricing-button {
        font-size: 2pc !important;
    }
}

@media (max-width: 600px) {
    .pricing-feature-title {
        font-size: 5vh;
    }
    .pricing-feature-description {
        font-size: 3vh;
    }
    .pricing-value-u {
        font-size: 2vh;
        margin-top: -1pc;
    }

    .pricing-value {
        font-size: 8vh;
    }

    .pricing-button {
        font-size: 3vh !important;
    }
}